<ul class="nav justify-content-end alert alert-success">


{% if request.user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link active" href="#">{{request.user}} <i class="fa fa-home text-dark"></i></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout <i class="fa fa-sign-out text-dark"></i></a>
    </li>

{% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
    </li>
{% endif %}

</ul>